/check.png
/checkbox.png
/clear_icon.png
/custom-bar.gif
/disclosure.png
/disclosure2.png
/dotgrid.png
/error-page-background.jpg
/flag-icon.png
/img1.jpg
/img2.jpg
/img3.jpg
/img4.jpg
/loading.gif
/lock-screen-background.jpg
/magnify.png
/profile-icon.png
/pullarrow.png
/radio.png
/select_mask.png
/tip2_left.png
/tip2_right.png
/tip_bottom.png
/tip_left.png
/tip_right.png
/tip_top.png
/togglebg.png
/togglemask.png
/togglethumb.png
/togglethumbbg.png
/togglethumbmask.png
/trackmask_outer.png
