/window-header-default-bottom-corners.gif
/window-header-default-bottom-sides.gif
/window-header-default-collapsed-bottom-corners.gif
/window-header-default-collapsed-bottom-sides.gif
/window-header-default-collapsed-left-corners-rtl.gif
/window-header-default-collapsed-left-corners.gif
/window-header-default-collapsed-left-sides.gif
/window-header-default-collapsed-right-corners-rtl.gif
/window-header-default-collapsed-right-corners.gif
/window-header-default-collapsed-right-sides.gif
/window-header-default-collapsed-top-corners.gif
/window-header-default-collapsed-top-sides.gif
/window-header-default-left-corners-rtl.gif
/window-header-default-left-corners.gif
/window-header-default-left-sides.gif
/window-header-default-right-corners-rtl.gif
/window-header-default-right-corners.gif
/window-header-default-right-sides.gif
/window-header-default-top-corners.gif
/window-header-default-top-sides.gif
