.custom-grid .x-grid-cell {

	border-bottom-color: #ffc;
	border-top-color: #ff5;
	color: #009;
	height:50px;
	font:40px;

	background:linear-gradient(to bottom, rgb(255, 255, 255) 31%,rgba(246,246,246,1) 70%,rgba(246,246,246,1) 70%,rgba(246,246,246,1) 74%,rgba(237,237,237,1) 100%);
	vertical-align: middle;

}

.custom-grid .x-grid-row  {
	border-top: 1px solid #ddd;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;

}