/* Mark modifications in editing grids ERGO-CCP-021 */
.dirty-cell-edited {
	font-weight: bold !important;
	color: #1111ff !important;	
}

/* use dirty-checkbox-cell-edited in checkbox cells to mark changes*/
.dirty-cell-edited .dirty-checkbox-cell-edited {
	background-color: none !important;
	background-image: url('ux/images/dirty_blue.gif') !important;
	background-position: 0 0 !important;
	background-repeat: no-repeat !important;
}

/* Mark modifications in forms ERGO-CCP-021 */
.dirty-form-field .x-form-item-label {
	font-weight: bold !important;
	color: #1111ff !important;	
}

.dirty-form-field .x-form-cb-wrap .x-form-cb-label {
	font-weight: bold !important;
	color: #1111ff !important;	
}

.dirty-form-field {
	font-weight: bold !important;
	color: #1111ff !important;	
}
/*********************************************/


/* Mark calculated fields in forms - Manual Repair detail */
.calc-form-field .x-form-item-label {
	font-weight: bold !important;
	color: #009933 !important;	
}

.calc-form-field .x-form-cb-wrap .x-form-cb-label {
	font-weight: bold !important;
	color: #009933 !important;	
}

.calc-form-field {
	font-weight: bold !important;
	color: #009933 !important;	
}

/* Mark forced by user in forms - Transaction Validation screens*/
.forced-form-field .x-form-item-label {
	font-weight: bold !important;
	color: #FF6600 !important;	
}

.forced-form-field .x-form-cb-wrap .x-form-cb-label {
	font-weight: bold !important;
	color: #FF6600 !important;	
}

.forced-form-field {
	font-weight: bold !important;
	color: #FF6600 !important;	
}
/*********************************************/

/* Criteria panel have to have this in their bodyCls config ERGO-CCP-016 */
.criteria-form-panel {
	background-color: rgb(223, 233, 246) !important;
}
/* ERGO-CCP-016 */
.grey-fieldset {
	background-color:#EEEEEE !important;
}

.grey-fieldset .x-box-inner{
	background-color:#EEEEEE !important;
}

.grey-fieldset .x-panel-body{
	background-color:#EEEEEE !important;
}

/* DFS015 - 5.8.3.1. N12&N13 */
tr:not(.x-grid-row-selected) .dark-color-background{
	background-color:#E2E0E5 !important;
}
tr.x-grid-row-selected .dark-color-background {
	backgroud-color:#dfe8f6 !important
}

/* Upper case style needed in textfields*/
.upper-case-style {
	text-transform:uppercase !important;
}

/* Use this class to mark focus change from result grid to detail and back */
.custom-grid .x-grid-row-selected .x-grid-td{
	background-color: rgb(172, 190, 219) !important;
}

.warningTip{
    font-weight: bold !important;
}

/********************************************/
/* Clock style */
.ux-desktop-trayclock {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
}

.white-background {
	background-color:#FFFFFF !important;
}

.boldText {
	font-weight:bold;
	color: #04408c;
}

.boldTextBlack {
	font-weight:bold;
}

/*********************************************/

.leftBorder{
	border-left-width: 1px !important;
}
.rightBorder{
	border-right-width: 1px !important;
}

.largeBorder{
	border-left-width: 1px !important;
	border-right-width: 1px !important;
}

.largeRightBorder{
	border-right-width: 2px !important;
}

/* Use this class for aligning text to the right side of a column - tdCls */
.alignRight{
	text-align: right !important;
}

/* Use this class for aligning text to the center of a column - tdCls */
.alignCenter{
	text-align: center !important;
}

.alignPic{
	margin-right: auto;
   	margin-left: auto;
}

/* Use this class to show hand over cell */
.cursorHand:hover{
	cursor: pointer !important; 
    cursor: hand !important;
}


/* Use this to mark invalid fields BIC or Acc - DFS024 repair tool pop-up*/
.invalid-field-entry .x-form-error-msg {
    background-image: url(./../frmk-js/images/icons/error.png) !important;
}

/****************** various colors **************************************/
.ano-green{
	/*background-color: #009933 !important;*/
	background-color: #00FF7F !important;
}

.ano-red{
	/*background-color: #CC0000 !important;*/
	background-color: #FF3333 !important;
}

.ano-blue{
	/*background-color: #0066CC !important;*/
	background-color: #00BFFF !important;
}

.redCmt .x-btn-inner{
	color: #FF3333 !important;
}

.redTxt {
	color: #FF3333 !important;
	font-weight:bold;
}

.redTxtDeco {
	color: #FF3333 !important;
	font-weight:bold;
	text-decoration:blink;
}

.dark-grey{
	background-color:#DAD9DC;
}
/********************* Selected row DFS032 *****************************************/
.lastSelected-blue-row .x-grid-cell {
    background-color: #DFE8F6 !important;
    border-bottom: 1px dotted #464646 !important;
    border-top: 1px dotted #464646 !important;
}

/*buttons*/
.largeBtn{

	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	
	padding:11px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;




}

.largeBtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.largeBtn:active {
	position:relative;
	top:1px;
}


.largeBtn .x-btn-inner {

font-size: 14px;
font-weight: bold;


}

.largeLabel {

font-size: 14px;
font-weight: bold;


}
.textMiddleWithImageInCell {
   vertical-align:5px;
}


.cellGridVerticalAlignMiddle .x-grid-cell{vertical-align: middle;}
.x-form-field{
	font-size:11px;
}


.toolbarCheckAllStyle{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	
}


/*********** grid-cell : ignore surrounded cell (ExtJS 5.1) *******/
.x-grid-cell-inner {
   position: static;
}

.topFormPanel{
    background-color:#d6e3f2; 
}


.multiline .x-column-header-inner .x-column-header-text { white-space: normal; }

/*********** Transaction detail DFS058 table sending & receipt *******/
.trDetail_table{
	border-collapse: collapse;
	border-color:#bad1ef;
    margin: 5px 0px 10px 0px;
    
}
.trDetail_table td{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	border-style:solid;
    border-width:1px 1px 1px 1px;
}

.custom-grid .x-grid-cell { 
    background-color: #dfe9f6; 
    border-bottom-color: #ffc; 
    border-top-color: #ff5; 

}

/*********** Transaction Dashboard DFS058 table *******/
.trDash_table{
	border-collapse: collapse;
	border-color:#bad1ef;
    margin: 5px 0px 10px 0px;
   
}
.trDash_table td{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	border-style:solid;
    border-width:1px 1px 1px 1px;
}

.blueCount {
	display: inline;
	color: blue;
}

.bckGrdCount {
	display: inline;
    background-color: #8CB1E0;
}

.bckGrdUnCount {
	display: inline;
    background-color: none;
}

.redDurationCount {
	display: inline;
	color: blue;
	text-decoration:underline;

}


.redNumMaxCount {
	display: inline;
	color: red;
}

.alertCount {
	display: inline;
	color: red;
	text-decoration:underline;

}

.redField {
  min-height: 22px;
  font: normal 12px/14px tahoma,arial,verdana,sans-serif;
  color: red;
  margin-top: 4px;
}
/***/

.redFont {

color: red;
font-weight:bold;

}

.x-grid-row .custom-column { 
border-right: 1px solid black;


}

.custom-column { 
border-right: 1px solid black;
  
}
