/tab-default-bottom-active-fbg.gif
/tab-default-bottom-focus-active-fbg.gif
/tab-default-bottom-focus-over-fbg.gif
/tab-default-bottom-over-fbg.gif
/tab-default-close.png
/tab-default-left-active-fbg.gif
/tab-default-left-focus-active-fbg.gif
/tab-default-left-focus-over-fbg.gif
/tab-default-left-over-fbg.gif
/tab-default-right-active-fbg.gif
/tab-default-right-focus-active-fbg.gif
/tab-default-right-focus-over-fbg.gif
/tab-default-right-over-fbg.gif
/tab-default-top-active-fbg.gif
/tab-default-top-focus-active-fbg.gif
/tab-default-top-focus-over-fbg.gif
/tab-default-top-over-fbg.gif
