.x-panel-header-default {
background-image: none;
background: #f5f5f5;
    line-height: 10px;

}

.x-panel-header-title-default > .x-title-text-default{text-transform:none;padding:0; color:#A9A6A6;  font-weight: bold;font-size: 14px;  font-family: "Montserrat", sans-serif;}

/*.x-tree-icon-parent {
    font-size: 16px;
    font-family: FontAwesome;
    color: #2ccbc3;
}

.x-tree-icon-parent-expanded {
    font-size: 16px;
    font-family: FontAwesome;
    color: #2ccbc3;
}

.x-tree-elbow-plus, .x-tree-elbow-end-plus {
    font-size: 14px;
    font-family: FontAwesome;
    color: #2ccbc3;
}

.x-grid-tree-node-expanded .x-tree-elbow-plus, .x-grid-tree-node-expanded .x-tree-elbow-end-plus {
    font-size: 14px;
    font-family: FontAwesome;
    color: #2ccbc3;
}

.x-tree-icon-leaf {
    font-size: 16px;
    font-family: FontAwesome;
    color: #5fa2dd;
}*/

.x-btn-default-small {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding: 7px 7px 7px 7px;
    border-width: 1px;
    border-style: solid;
    background-color: #27b6af;
    height: 30px;

}
.x-btn-icon-el-default-small {
    font-size: 12px;
    height: 12px;
    color: #f0f0f0;
    line-height: 12px;
}

.x-btn-button-default-small {
    min-height: 10px;
}
.x-btn-over.x-btn-default-small {
    border-color: #2ccbc3;
    background-image: none;
    background-color: #2ccbc3;
}
.x-btn-over.x-btn-default-small{border-color:#2ccbc3;background-image:none;background-color:#2ccbc3}

.x-panel-header-default {
    font-size: 14px;
    border: 1px solid #eff2f7;
}
.x-window-default {
    border-color: #2c3845;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}
.x-window-header-default {
    font-size: 14px;
    border: 1px solid #2c3845;
    background-color: #2c3845;

}
.x-window-body-default {
    border-color: #eff2f7;
    border-width: 1px;
    border-style: solid;
    background: #fff;
    color: #000;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}
.x-window-header-title-default {
    color:#A9A6A6;  font-weight: bold;

    font-size: 14px;

    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    line-height: 20px;
}

.x-grid-item {
    color: #404040;
    font: 400 13px/19px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 11px;
    line-height: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;

}

.x-column-header {
    border-right: 1px solid #d0d0d0;
    color: #404040;
    font: 500 11px/15px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-stretch: normal;
    font-size: 11px;
    line-height: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    outline: 0;
    background-color: #fff;
}

.x-form-text-default {
    color: #404040;
    padding: 5px 10px 4px;
    background-color: #fff;

    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    min-height: 12px;
}
.x-form-trigger-default {
    width: 32px;

    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 20px;
    font-family: FontAwesome;
    background: #fff;
    color: #919191;
}

.x-form-item-label-default {
    color: #404040;

    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    min-height: 20px;
    padding-top: 8px;
    padding-right: 5px;
}



.x-form-checkbox {
     font-size: 18px;
}
.x-form-radio {
    font-size: 18px;
}

/* to center vertical align checkbox and radiobox into a toolbar*/
.x-form-cb-wrap-default_toolbar {
    height: 32px;
    min-width: 18px;
}