/checkbox.png
/clear-trigger-rtl.png
/clear-trigger.png
/date-trigger-rtl.png
/date-trigger.png
/exclamation.png
/radio.png
/search-trigger-rtl.png
/search-trigger.png
/spinner-rtl.png
/spinner.png
/tag-field-item-close.png
/trigger-rtl.png
/trigger.png
