.icon-bin2 { background-image: url(../images/bin.png) !important; }
.icon-edit_cancel { background-image: url(../images/edit-cancel.png) !important; }
.icon-reassign { background-image: url(../images/invoke.gif) !important; }
.icon-next { background-image: url(../images/next.png) !important; }
.icon-previous { background-image: url(../images/previous.png) !important; }
.icon-erase2 { background-image: url(../images/eraser-icon.png) !important; }
.icon-clock2 { background-image: url(../images/clock.png) !important; }
.icon-eject { 
	background-image: url(../images/eject.png) !important;
	/* Firefox */
    -moz-transform:rotate(90deg);
    /* Safari and Chrome */
    -webkit-transform:rotate(90deg);
    /* Opera */
    -o-transform:rotate(90deg);
    /* IE9 */
    -ms-transform:rotate(90deg);
}
.icon-play2 { background-image: url(../images/play-icon.png) !important; }
.icon-pause2 { background-image: url(../images/pause-icon.png) !important; }
.icon-recycle { background-image: url(../images/recycle.png) !important; }
.icon-treasury { background-image: url(../images/treaSyst.png) !important; }
.icon-plus { background-image: url(../images/plus.png) !important; }
.icon-up { background-image: url(../images/up.png) !important; }
.icon-down { background-image: url(../images/down.png) !important; }
.icon-split { background-image: url(../images/split-icon.png) !important; }
.icon-pvpRelease { background-image: url(../images/pvpRelease-icon.png) !important; }
.icon-accounting { background-image: url(../images/accounting.png) !important; }
.icon-riskSystem { background-image: url(../images/riskSystem.png) !important; }
.icon-setup { background-image: url(../images/setup.png) !important; }